main div {
  border: 1px black solid;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4b41a;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #f4b41a;
}

h2 {
  text-align: center;
  font-size: 1.7vw;
}

h3 {
  font-size: 1.5vw;
  text-align: center;
  text-decoration: underline;
}

/* ==============Navigation================ */
#navigation {
  height: 5vw;
  background-color: #143d59;

  z-index: 1;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  border-bottom: 0.3vw solid #f4b41a;
  opacity: 0.95;
}

#logo {
  width: 18%;
  height: 100%;
  border: 0.2vw #f4b41a solid;
  font-size: 2.1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#nav_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;

  height: 80%;
  font-size: 1.5vw;
  opacity: 0.99;
}

.nav_conts {
  font-weight: 600;
}

.nav_conts a {
  color: white;
}

.nav_conts a:hover {
  color: white;
  text-decoration: overline;
  text-decoration-color: #f4b41a;
  text-decoration-thickness: 0.3vw;
}

/* =============section1================= */
#section1 {
  width: 100%;
  height: 45vw;
  border: 0.2vw solid #143d59;
  margin-top: 6%;
  background-image: url(https://github.com/MokuaEnock/Milky-Way/blob/master/milk2.jpg?raw=true);
  background-position: center;
  background-size: cover;
}

#sect1_cont1 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#sect1_cont1 h2 {
  font-size: 4vw;
  color: white;
}

#strong_head {
  font-size: 6vw;
  color: #f4b41a;
  border: 0.2vw solid #f4b41a;
}

#strong_head {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #14508c 0%,
      #439dd6 25%,
      #79ccbc 50%,
      #f4ee4e 75%,
      #f38f2f 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s infinite alternate-reverse;
  display: inline-block;
  font-size: 6vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#sect1_cont1 {
  color: white;
  font-size: 3vw;
  margin-top: 11%;
  font-weight: 100;
}

/*===========Section 2===============*/
/* sect */
#sect2 {
  height: 40vw;
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #143d59;
}

#sect2_head {
  width: 20%;
  height: 10%;
  margin-top: -1.9%;
  background-color: #f4b41a;
  color: #143d59;
  border: 0.4vw solid #143d59;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sect2_cont {
  width: 100%;
  height: 90%;
  border-top: #f4b41a solid thin;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#sect2_cont table {
  width: 40%;
  text-align: center;
  height: 90%;
  font-size: 1.5vw;
  border: solid thick #f4b41a;
  border-collapse: collapse;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;

}

td input {
  text-align: center;
  width: 100%;
  height: 96%;
  font-size: 1.4vw;
  border: none;
}

thead {
  color: #143d59;
  background-color: #f4b41a;
  font-size: 1.7vw;
  font-weight: 500;
  height: 15%;
  border: none;
}

.input1 {
  width: 20%;
}

tbody tr th {
  color: white;
  font-size: 1.8vw;
  font-weight: 600;
}

tbody tr {
  color: white;
  border-top: solid thin white;
}

tbody tr th {
  border-right: solid thin white;

}
.shade{
  width: 35%;
}
.prdt, .breed {
  width: 30%;
}
.cows{
width: 25%;
}
.prod {
  width: 30%;
}

/*===========Section 3===============*/
#section3 {
  width: 100%;
  height: 25vw;
  margin-top: 1%;
  background-color: #143d59;
  color: #143d59;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sect3_head {
  width: 15%;
  height: 20%;
  margin-top: -1.5%;
  border: 0.4vw solid #143d59;
  background-color: #f4b41a;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sect3_cont {
  height: 80%;
  width: 100%;
  border-top: 0.2vw solid #f4b41a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#sect3_cont h3 {
  color: #f4b41a;
}

#sect3_cont1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sect3_cont1 img {
  width: 30%;
  height: 100%;
}

/*===========Section 4===============*/
#section4 {
  width: 100%;
  height: 30vw;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #143d59;
}

#sect4_head {
  height: 10%;
  width: 15%;
  margin-left: 10%;
  margin-top: -1.5%;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #143d59;
  align-items: center;
  background-color: #f4b41a;
  border: 0.4vw solid #143d59;
}

/*=========Production report=============*/
#production_rep {
  height: 30vw;
  width: 100%;
  margin-top: 1.2%;
  border-top: 0.2vw solid #f4b41a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #143d59;
}

#prod_head {
  height: 10%;
  width: 18%;
  margin-top: -1.7%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  background-color: #f4b41a;
  color: #143d59;
  border: 0.4vw solid #143d59;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}

/*===========Section 5===============*/
#section5 {
  width: 100%;
  height: 40vw;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #143d59;
}

#sect5_head {
  height: 9%;
  width: 15%;
  margin-top: -1.8%;
  background-color: #f4b41a;
  color: #143d59;
  border: 0.4vw solid #143d59;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*===========Section 6===============*/
#section6 {
  width: 100%;
  height: 30vw;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #143d59;
  align-items: center;
}

#sect6_head {
  height: 10%;
  width: 15%;
  margin-left: 70%;
  margin-top: -1.5%;
  background-color: #f4b41a;
  color: #143d59;
  border: 0.4vw solid #143d59;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}