div {
  border: 1px black solid;
}
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #d0f0c0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-size: 1.7vw;
  text-decoration: underline;
  text-underline-position: under;
}
h3 {
  font-size: 1.5vw;
  text-align: center;
  text-decoration: underline;
}
label {
  font-size: 1.5vw;
}
form {
  height: 100%;
  width: 100%;
  font-size: 1.5vw;
  line-height: 190%;
  text-align: center;
}

/*==========Head===============*/
#head {
  height: 4vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}
#head_logo {
  width: 30%;
  height: 100%;
  font-size: 2vw;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#head_socials {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.socials {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.socials img {
  width: 100%;
  height: 100%;
}
#navigation {
  height: 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#nav_head {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#nav_head h2 {
  text-align: center;
  font-size: 1.7vw;
}
#nav_cont {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav_conts {
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_conts a {
  font-size: 1.5vw;
}
/*===========Section 1===============*/
#section1 {
  height: 30vw;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sect1_head {
  width: 30%;
  height: 10%;
  margin-left: 10%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
#sect1_cont {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sect1_conts {
  width: 49%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  text-align: center;
  font-size: 1.6vw;
}
/*===========Section 2===============*/
#section2 {
  height: 40vw;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sect2_head {
  width: 30%;
  height: 10%;
  margin-left: 60%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
.sect2_cont {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0.5%;
  row-gap: 2%;
}
.sect2_conts {
  padding-left: 5%;
  padding-right: 5%;
}

.input {
  width: 25%;
  height: 15%;
  border-radius: 1vw;
  font-size: 1.5vw;
  text-align: center;
  border: 0.2vw seagreen solid;
}
select {
  height: 23%;
  width: 25%;
  font-size: 1.5vw;
  border: 0.2vw solid#d0f0c0;
  border-radius: 0.4vw;
  text-align: center;
}
/*===========Section 3===============*/
#section3 {
  width: 100%;
  height: 15vw;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sect3_head {
  width: 15%;
  height: 20%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
#sect3_cont {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#sect3_cont1 {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#sect3_cont1 p {
  width: 60%;
  height: 85%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#sect3_cont1 img {
  width: 100%;
  height: 100%;
}
#sect3_cont2 {
  width: 48%;
  height: 100%;
}
/*===========Section 4===============*/
#section4 {
  width: 100%;
  height: 30vw;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sect4_head {
  height: 10%;
  width: 20%;
  margin-left: 10%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
#sect4_cont {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect4_conts {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sect4_containers {
  width: 50%;
  height: 100%;
}
/*===========Section 5===============*/
#section5 {
  width: 100%;
  height: 30vw;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sect5_head {
  height: 10%;
  width: 15%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
#sect5_cont {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sect5_conts {
  width: 47%;
  height: 100%;
}
#total {
  height: 10%;
  width: 100%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.total {
  height: 100%;
  width: 50%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#sect5_cont1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#s5_cont1_head {
  width: 100%;
  height: 10%;
}
#s5_cont1_1 {
  width: 100%;
  height: 90%;
}
.formProduction {
  width: 100%;
  height: 90%;
}
/*===========Section 6===============*/
#section6 {
  width: 100%;
  height: 30vw;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sect6_head {
  height: 10%;
  width: 15%;
  margin-left: 70%;
  margin-top: -1.5%;
  background-color: #d0f0c0;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.8vw;
}
#sect6_cont {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#forecast_cont {
  width: 20%;
  height: 10%;
}
#forecast_cont input {
  width: 100%;
  height: 100%;
  border: 0.2vw solid seagreen;
  font-size: 1.7vw;
}

/*===========Footer===============*/
#foot {
  width: 100%;
  height: 20vw;
  margin-top: 3%;
  margin-bottom: 1%;
}
